.account-info {
  font-size: @content-text-font-size;
  color: @header-hover-color;
  height: 40px;
  background-color: rgba(red(@header-hover-color), green(@header-hover-color), blue(@header-hover-color), 0.03);
  white-space: nowrap;
  margin: 0 -12px;
  .title {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 10px;
    font-weight: 600;
  }
  .loginTime {
    display: inline-block;
    float: right;
    text-align: center;
    white-space: pre-wrap;
    width: 80px;
    word-break: break-all;
    margin: 0 10px 0 0;
  }
}

.online {
  color: green;
}

.offline {
  color: darkgrey;
}

.reference {
  color: green;
  font-weight: bolder;
  font-style: italic;
}

.inner-table {
  background: @content-bg-color;
  border: 1px solid @header-bg-color;
  min-height: @table-height *2 /3;
}

.form-buttons {
  text-align: center;
  margin: 40px auto
}

.dict-tree {
  overflow: scroll;
  height: 300px;
  border: 1px solid @content-color;
}
