.DS_Store
.git/*
/**/.gradle/*
/**/.idea/*
/**/.setting/*
/**/classes/*
/**/build/*
/**/dist/*
/**/node_modules/*
/**/logs/*
/**/data/*
/**/out/*
!/retl/retl-app/build/*
app-test-mongo/*
log*/*
mongodb/*
npm/*
redis/*
zbus/*
iprm*/*
