<?xml version="1.0" encoding="UTF-8"?>
<configuration status="off" packages="com.dscomm.comp.logs.appender.db.jdbc">
	<Properties>
		<Property name="baseDir">logs</Property>
	</Properties>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout charset="UTF-8"
				pattern="%d{yyyy/MM/dd HH:mm:ss.SSS} [%thread] %-5level %logger{10}(%line) - %msg%exception{full}%n" />
		</Console>
		<!--
		<Socket name="socket" host="192.168.2.150" port="9500">
			<SerializedLayout />
		</Socket>
		<RollingRandomAccessFile name="rollingRandomAccessFile"
			fileName="${baseDir}/app.log" filePattern="${baseDir}/%d{yyyy-MM}/app-%d{dd}-%i.log.gz">
			<PatternLayout charset="UTF-8"
				pattern="%d{yyyy/MM/dd HH:mm:ss.SSS} [%thread] %-5level %logger{10}(%line) - %msg%exception{full}%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="2" />
				<SizeBasedTriggeringPolicy size="200 KB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingRandomAccessFile>
		-->
		<Async name="async">
			<AppenderRef ref="console" />
			<!--
			<AppenderRef ref="socket" />
			<AppenderRef ref="rollingRandomAccessFile" />
			-->
		</Async>
	</Appenders>
	<Loggers>
		<logger name="org.mx" level="info" additivity="false">
			<appender-ref ref="async" />
		</logger>
		<logger name="AuditLog" level="info" additivity="false">
			<appender-ref ref="async" />
		</logger>
		<root level="info">
			<appender-ref ref="console" />
		</root>
	</Loggers>
</configuration>  