body {
  margin: 0;
  padding: 0;
}

.border {
  border: 1px solid @content-color;
}

.locale-image {
  flot: left;
  width: 20px;
  height: 16px;
  padding-right: 10px;
}

.locale-text {
  float: right;
  font-size: @content-text-font-size;
}

.locale-icon {
  width: 16px;
  height: 16px;
  font-size: @content-text-font-size * 0.8;
  vertical-align: middle;
}
