@import "./button.less";

.pg-layout-content {
  magin: 0 auto;
  .layout-paginate {
    margin: 10px 20%;
  }
}

.pg-layout-buttons {
  display: inline-block;
  float: right;
  margin: 10px 10px 0 3px;
  .button {
    .button-border;
  }
}
