.pg-layout-content {
  magin: 0 auto;
  .layout-paginate {
    margin: 10px 20%;
  }
}

.pg-layout-buttons {
  display: inline-block;
  float: right;
  margin: 0 10px 0 3px;
  .button {
    width: @button-width;
    padding: 10px;
    font-size: @content-text-font-size;
    color: @button-color;
    &:hover {
      color: @button-hover-color;
      border: 1px solid @button-hover-color;
    }
  }
  .button-icon {
    font-size: 12px;
  }
}
