@header-color: white;
@header-hover-color: greenyellow;
@header-bg-color: #657180;
@header-height: 60px;

@nav-color: rgb(50, 65, 87);

@content-color: mix(red, @header-bg-color);
@content-bg-color: @header-color;
@content-min-height: 648px;
@content-text-font-size: 14px;
@content-text-weight: 300;

@button-width: 100px;
@button-color: lighten(@header-bg-color, 20%);
@button-hover-color: mix(red, darken(@button-color, 80%));

.layout-form {
  min-width: 400px;
  margin: auto;
  padding: 10px;
}

.nav-icon {
  color: @header-color;
  font-size: 20px;
  padding-right: 10px;
}

.tag {
  margin: 5px;
  padding: 0;
}

.tag-input {
  width: 80px;
  height: 22px;
  margin: 0 0 0 3px;
}

.tag-button {
  color: red;
  width: 22px;
  height: 22px;
  padding: 0;
  margin: 0;
  border: 1px solid red;
}

.inline-table-row {
  height: 30px;
}

.layout-buttons {
  display: inline-block;
  float: right;
  margin: 0 10px 0 3px;
  .button {
    padding-left: 10px;
    font-size: @content-text-font-size;
    color: @button-color;
    &:hover {
      color: @button-hover-color
    }
  }
  .button-icon {
    font-size: 12px;
  }
}
